<h1>Pasteleria</h1>





        <div class="row">
            {{#each products}}
            <div class="col-sm">
                <div class="card " style="width: 18rem;">
                    <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text">Su precio es: ${{this.price}} </p>
                        <p class="card-text">Cantidades disponibles: {{this.stock}} </p>
                        <a href="#" class="btn btn-primary">Añadir al carrito</a>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
   {{/each}}
        </div>




     
