<div style="text-align: center; background-color: #F0E68C;">
<h1 style="color: #ff5e00;">Productos - Real Time</h1>
<form id="myForm">
    Titulo: <input type="text" name="title">
    <br>
    Description: <input type="text" name="description" >
    <br>
    Precio: <input type="number" name="price" >
    <br>
    Imagen: <input type="name" name="thumbnail" >
    <br>
    Codigo: <input type="number" name="code" >
    <br>
    Categoria: <input type="text" name="category" >
    <br>
    Stock: <input type="number" name="stock" >
    <br>
    <button type="submit">Enviar</button>
    <button type="submit" class="btn btn-outline-primary">Cargar</button>
</form>
</div>




<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Titulo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
        </tr>
    </thead>
    <tbody id="tbody">
        {{#each products}}
        <tr>
            <th scope="row">{{this._id}}</th>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.price}}</td>
            <td>{{this.stock}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io()
    document.getElementById('myForm').onsubmit = e =>{
        e.preventDefault()
      const title = document.querySelector('input[name=title]').value
      const description = document.querySelector('input[name=description]').value
      const price = parseInt(document.querySelector('input[name=price]').value) 
      const thumbnail = document.querySelector('input[name=thumbnail]').value
      const code = parseInt(document.querySelector('input[name=code]').value)
      const category = document.querySelector('input[name=category]').value
      const stock = parseInt(document.querySelector('input[name=stock]').value)


      const product = {title, description, price, thumbnail, code, category, stock}
      socket.emit('new-product', product)
    
    }
    socket.on('reload-table', (products) =>{
        console.log('aqui es product',products)
        const tbody = document.getElementById('tbody')

        let html = '';
            products.forEach(product =>{
                html += `<tr>
                <th scope="row">${product._id}</th>
                <td>${product.title}</td>
                <td>${product.description}</td>
                <td>${product.price}</td>
                <td>${product.stock}</td>
                </tr>
                `
            })

            html += '';
            console.log(html)

            tbody.innerHTML = html
    })

    
</script>